body {
  background: lightblue;
  font-family: cursive;
}


h1 {
  font-family: cursive;
}


h2 {
  font-family: Haas Grot Text R web;
  font-size: medium;
}


.card {
  width: 320px;
  border: 1px solid #c9c9c9;
  padding: 20px;
}

.card > h2 {
  text-align: center;
}

.flex-container {
  width: 100%;
  border: 3px solid teal;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.heart {
  font-size: 25 px;
  color:red;
}