body {
  background: lightblue;
  font-family: cursive;
}

h1 {
  font-family: cursive;
}

h2 {
  font-family: Arial;
}

.card {
margin: 15px;
}

.card > h2 {
  text-align: center;
}

.flex-container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
}